body {
  background-color: #181719;
}

/* Constants */
.white-text {
  color: white;
}

/* Container */
.container-wrapper {
  width: 100%;
  
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1286px;
  padding: 0 77px;
}

/* Header */
.header-desktop-wrapper {
  width: 100%;
  height: 122px;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;

  box-sizing: border-box;
}

/* Header Logo */
.header-desktop__logo-wrapper {
  width: 102px;
  height: 32px;
}
.header-desktop__logo {
  width: 100%;
  height: 100%;

  padding: 8px;

  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
.header-desktop__logo span {
  font-family: 'Crimson Pro', serif;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  white-space: nowrap;
}

/* Header Nav */
.header-desktop-nav {
  height: 40px;
}
.header-desktop-nav-wrapper {
  display: flex;
  flex-direction: row;

  gap: 86px;
}
.header-desktop-nav__item-wrapper {
  height: 100%;
}
.header-desktop-nav__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  padding: 8px 0;

  transition: border-bottom 1s;
}
.header-desktop-nav__item-wrapper:hover {
  border-bottom: 3px solid white;
}

.promo {
  margin-top: 150px;

  display: flex;
  flex-direction: row;
}
.promo__text-info {
  display: flex;
  flex-direction: column;
}
.promo__text_title {
  margin-bottom: 40px;

  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
}
.promo__text_descr {
  margin-bottom: 48px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.promo__button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  width: fit-content;
  height: 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 14px;

  cursor: pointer;

  transition: gap .5s ease;
  
  user-select: none;
}
.promo__button:hover {
  gap: 20px;
}